<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body text-center">
        <img [src]="data?.avatar|safe" *ngIf="data?.avatar" class="rounded-circle" alt="">
        <div class="rounded-circle img-add align-middle mx-auto" *ngIf="!data?.avatar"><i class="bi bi-person"></i></div>
        <form class="text-left" [formGroup]="userInfo">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name" class="form-control" required
                   placeholder="Name..."
                   [class.border-danger]="userInfo.controls.name.invalid
                           && (userInfo.controls.name.dirty || userInfo.controls.name.touched)"/>
          </div>
          <div class="form-group">
            <label for="jobTitle">Job title</label>
            <input type="text" name="jobTitle" id="jobTitle" formControlName="job"  Name="job" class="form-control"
                   required placeholder="Job title..."
                   [class.border-danger]="userInfo.controls.job.invalid
                           && (userInfo.controls.job.dirty || userInfo.controls.job.touched)"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary rounded-pill " #closebutton data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary " *ngIf="data?.id" [disabled]="userInfo.invalid" (click)="onSubmitUpdate()">Save</button>
        <button type="button" class="btn btn-primary " *ngIf="!data?.id" [disabled]="userInfo.invalid" (click)="onSubmitCreate()">Add</button>
      </div>
    </div>
  </div>
</div>
