.modal-body img {
  margin-top: -5rem;
  border: 3px solid #FFFFFF;
}

.img-add {
  margin-top: -4rem;
  box-sizing: border-box;
  height: 106px;
  width: 106px;
  border: 3px solid #FFFFFF;
  background-color: #7F8C8D;
}

.img-add i {
  color: #FFFFFF;
  font-size: 2rem;
  display: block;
  margin-top: 20px;
}




