nav {
  height: 70px;
  /*width: 1440px;*/
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .btn {
  color: #34495E;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 22px;
}

.navbar-light .navbar-nav .btn {
  height: 40px;
  width: 94px;
  border-radius: 20px;
  color: #FFFFFF!important;
  background-color: #8E44AD;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 9px 25px!important;
}
