<!-- Modal -->
<div class="modal fade" id="confirmDialog" tabindex="-1" aria-labelledby="confirmDialogLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div [innerHTML]="Message"></div>
        <button type="button" class="btn btn-outline-primary rounded-pill" data-dismiss="modal" #closeBtnRef>Cancel</button>
        <button type="button" class="btn btn-primary rounded-pill" (click)="onApprove()">Save</button>
      </div>

    </div>
  </div>
</div>
