<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center ">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden  my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6 ">
              <div class="p-3 align-items-center">
                <div class="text-left cost-intro">
                  <h1>Welcome Back!</h1>
                  <p>Please login to access your <span style="color: #8E44AD">Spaces</span> Dashboard</p>
                </div>
                <form class="user" [formGroup]="userLoginInfo" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="inputEmail">Username</label>
                    <input type="email"
                           class="form-control form-control-user"
                           id="inputEmail"
                           aria-describedby="emailHelp"
                           placeholder="Username..."
                           formControlName="email"
                           [class.border-danger]="userLoginInfo.controls.email.invalid
                           && (userLoginInfo.controls.email.dirty || userLoginInfo.controls.email.touched)">
                  </div>
                  <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password"
                           class="form-control form-control-user"
                           id="inputPassword"
                           placeholder="**********"
                           formControlName="password"
                           [class.border-danger]="userLoginInfo.controls.email.invalid &&
                            (userLoginInfo.controls.email.dirty || userLoginInfo.controls.email.touched)">
                  </div>
                  <div class="d-flex justify-content-between">
                    <a class="small" href="">Forgot Password?</a>
                    <button class="btn btn-primary" type="submit" [disabled]="disableBtn" >Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
