.card{
  width: 262px;
  border-radius: 0 10px 10px 0!important;
  background-color: #F5F5F5;
  box-shadow: -2px 0 4px 0 rgba(0,0,0,0.2);
}


.cost-td-btns .btn {
  color: #8E44AD;
  border-color: #8E44AD;
  margin-right: 15px;
  font-size: .9em;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.cost-td-btns .btn:hover {
  background-color: #8E44AD;
  color: #FFFFFF;
}

