<div class="card flex-row" *ngIf="display">
  <div class="card-body text-center justify-content-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setCloseSide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <img [src]="userInfo?.avatar|safe" class="rounded-circle mt-5" alt="">
    <h3 class="mt-3">{{userInfo?.first_name}} {{userInfo?.last_name}}</h3>
    <div class="cost-td-btns mt-4">
      <button class="btn btn-primary w-auto" data-toggle="modal" data-target="#userModal"><i class="bi bi-pencil-fill"></i> Edit</button>
      <button class="btn btn-primary w-auto" data-toggle="modal" data-target="#confirmDialog" (click)="onClickDelete()"><i class="bi bi-trash-fill"></i> Delete</button>
    </div>
  </div>
</div>
